# Node.js dependencies
node_modules/

# Serverless Framework build artifacts
.serverless/
.aws-sam/
.sls-next/

# Environment variables (nunca los subas si contienen secretos)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/

# Coverage reports
coverage/

# Optional: if you use typescript or transpilation
dist/
build/
*.tsbuildinfo
